.linear-gradient {
    -fx-background-color: linear-gradient(
            to bottom,
            #7336a8,
            #0051ec
    ), linear-gradient(
            to bottom,
            #6f9cd5,
            #699df8
    ), linear-gradient(
            to top,
            #2786a9,
            #20288d
    );

    -fx-background-size: 100% 33%, 100% 33%, 100% 34%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top, center, bottom;
}
.gradient {
    -fx-background-color: linear-gradient(to top,
    #0c9ecb, #1e90ff);
    -fx-min-width: 200px; /* Ajustez la largeur et la hauteur selon vos besoins */
    -fx-min-height: 200px;
}

.gradient-circle {
    -fx-background-color: linear-gradient(to left    ,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
    );
    width: 200px; /* Ajustez la largeur et la hauteur selon vos besoins */
    height: 200px;
}
